{% extends "base.html" %}
{% block title %}Detalle Item{% endblock %}

{% block content %}
<div class="card">
  <h2 class="card-title">{{ item.name }}</h2>
  <p class="text-muted">Por {{ item.owner.email }} · {{ item.created_at }}</p>

  <p class="mt-2">{{ item.description }}</p>

  <div class="mt-2">
    <a class="btn btn-primary" href="{{ url_for('items.item_edit', item_id=item.id) }}">Editar</a>
    <a class="btn btn-ghost" href="{{ url_for('items.list_items') }}">Volver</a>
  </div>
</div>
{% endblock %}
