{% extends "base.html" %}
{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<div class="card login-container" style="max-width:460px;margin:40px auto;">
  <h2 class="card-title" style="text-align:center;">Iniciar sesión</h2>

  <form method="POST">
    <div class="input-icon mb-2">
      <span class="icon-left"></span>
      <label class="form-label">Email</label>
      <input type="email" name="email" class="form-control" required>
    </div>

    <div class="mb-2">
      <label class="form-label">Contraseña</label>
      <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">Entrar</button>
  </form>
</div>
{% endblock %}
